
{% block content %}
<h2>Photo list </h2>

    <p>
        <a href="{% url 'upload_photo' %}" class= "btn btn-primary">upload photo</a>
    </p>
    <table class="table mb-0">
    <thead>
        <tr>
            <th>Title</th>
            <th>Download</th>
        </tr>
    </thead>

<td>{{ photo.File_name }}</td>
        <a href="{{ photo.photos.url }}" class="btn btn-primary btn-sm" taget="_blank">
            Download image
        </a>
    </td>
        <tbody>
    {% for photo in photos %}
    <tr>
        <td>
        {% if photo.photos %}
        <img src="{{ photo.photos.url }}" alt="{{ photo.File_name }} "width="210">
        {% endif %}
        <td>

    </tr>
    {% endfor %}


    <!--/////////////////////////////////////END OF THIS BLOCK////////////////////////////////////////////////////////////////-->


    </table>
{#    {% for photo in photos %}#}
{#    <img src="{{ photo.photos.url }}"width="210">#}
{#{% endfor %}#}
<!--/////////////////////////////////////END OF THIS BLOCK////////////////////////////////////////////////////////////////-->

{% endblock %}